* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
.webpage {
  width: 100%;
  display: inline-block;
}
/*******************************************************navbar styling */

.navbar {
  width: 100%;
  background-color: #F8F8F8;
  color: #5D5D5D;
  margin: 20px 159px;
}

.navbar-left {
  width: 50%;
  display: inline-block;
  /* width: 600px; */


  font-family: 'lato',sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.navbar-left a {
  padding: 0px 11px;
}

.navbar-right {
  display: inline;
  width: 50%;

}




/****************************************************main body styling */

.main-body {
  background-color: #F4F4F4;
  margin: auto;
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.main-body-left {
  display: inline-block;
  position: absolute;
  width: 75%;
}

.main-body-right {
  display: inline-block;
  position: absolute;
  width: 25%;
  /* right: 50%; */


}
